.info{
    display: flex;
    justify-content: space-between;
}
table{
    width: 100%;
}
td{
    text-align: right;
}

.card-body th, td {
    padding: 15px 0;
}

.field h6{
    margin-bottom: 1.8rem;
}

.details h5{
    font-size: 0.7rem;
    margin-bottom: 2rem;
}

#img-profile{
    object-fit: cover;
    object-position: center;
}

.img-container{
   border: 8px solid hsla(0, 1%, 23%, 0.08);
   width: 120px;
   height: 120px;
}
